body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Heiti SC", sans-serif;
}

.container{

    min-width: 500px;
    max-width: 800px;
    min-height: 500px;
    margin: 0 auto;
}

/*header start */
.container > header{
    background-color: #eee;
    padding: 15px;
    border: #333 1px solid;
    border-radius: 20px 20px 0 0;
}


.container > header > hgroup{
    padding: 1px;
}
/*header end*/


/*nav start*/
.container > nav{
    background: linear-gradient(#44ffbb, #6611cc);
}

nav>ul{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    height: 40px;
}

.container > nav >ul li{
    list-style: none;
    line-height: 40px;
    margin: 0 10px;
}

.container > nav > ul a{
    text-decoration: none;
    line-height: 40px;
    padding: 5px;
    color: #fff;
    transition: font-size 0.5s ease 0.1s;
}
a:link{
    font-size: 10pt;
}

 a:visited{
    font-size: 15pt;
}

a:hover{
    font-size: 15pt;
}

a:active{
    font-size: 15pt;
}




nav>ul>li>ul {
    display: none;
    width: 150px;
    position: absolute;
    opacity: 0.95;
    background: linear-gradient(#48f, #666);
    padding: 0;
}
/*nav>ul>li>ul>li:nth-child(1):hover ul{*/
    /*display: block;*/
/*}*/


nav>ul>li:nth-child(3):hover ul{
    display: block;
}



.jv-inner{
    display: none;
    background: linear-gradient(to left, tomato, ghostwhite);
    padding: 0;
    position: absolute;
    top: 0;
    left: 150px;
}
/*nav end*/


/*product display area start*/
.main{
    border: 1px solid #333;
    min-width: 500px;
    max-width: 800px;
    min-height: 500px;
}

.main>section{
    min-width: 500px;
    max-width: 800px;
    min-height: 500px;
    margin: 0 auto;
}

.product-list>h1{
    margin:0;

}

.product-list>.product{
    width: 150px;
    height: 180px;
    border: 1px solid #333333;
    padding: 0;
    text-align: center;
    margin: 3px;
    display: inline-block;
}

.product-list>.product h3,p{
    margin: 0;
}
.product-list>.product p{
    font-size: 15px;
    color: #888;
    padding: 3px;
}

.product-list>.product>img{
    width: 120px;
    height: 120px;
}

/*product display area end*/