div.container{
    /*width: 500px;*/
    height: 300px;
    background-color: bisque;
    border: #0a5333 solid 1px;
    box-sizing: border-box;
}

div.box:nth-child(1){
    width: 100px;
    height: 100px;
    background-color: #0a5333;
    position: relative;
    top: 50%;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}