.container{
  .main{
    float: left;
    width: 70%;
    background-color: #444444;
    min-height: 200px;
    @media(max-width: 450px){
      float: none;
    }
  }
  .left{
    float: left;
    width: 30%;
    background-color: #ccc;
    min-height: 200px;
    @media(max-width: 450px){
      float: none;
    }
  }
}