$color: #41b8f4;
$bgc: $color;

@mixin cmp{
  margin: 0;
  padding: 0;
}
@mixin bgc($c){
  $bgc: mix($bgc,$c) !global;
  background-color: $bgc;
}

body{
  @include cmp;
  background-color: $bgc;
  font-family: "Helvetica", "Heiti SC", sans-serif;
}
.container{
  min-height: 500px;
  @include bgc(cyan);
  padding: 0 150px 0 150px;

  >header{
    @include bgc(darkcyan);
    height: 200px;
    overflow: hidden;
  }

  >nav{
    height: 30px;
    @include bgc(#a2347f);
    a {
      text-decoration: none;
      line-height: 30px;
      color: $color;
      padding: 5px;
    }
    a:hover{
      font-size: 18px;
      color: mix($color, green)
    }
  }

  >.content{
    min-height: 300px;
    @include bgc(#fff);

    @mixin mxc{
      float: left;
      min-height: 300px;
      border: 1px solid red;
      box-sizing: border-box;
      @include bgc(#ccc);
    }

    >.main{
      width: 100%;
      @include mxc;
    }
    >.left{
      width: 150px;
      @include mxc;
      position: relative;
      margin-left: -100%;
      left: -150px;
    }
    >.right{
      width: 150px;
      @include mxc;
      margin-left: -150px;
      position: relative;
      left: 150px;
    }
  }
  >.content::after{
    content: '';
    display: block;
    clear: both;
  }


  >footer{
    @include bgc(#666);
    min-height: 50px;
  }
}