*{
    margin:0;
    padding:0;
    list-style: none;
    font-family: "Helvetica", "Heiti SC", sans-serif;
}

.container{
    min-height: 300px;
    background-color: #fff;
    margin: 10px 20px;
}
.container a{
    text-decoration: none;
}

/*this is header*/
header h4{
    height: 25px;
    padding: 10px 0 0 10px;
    color: #eee;
    background: linear-gradient(to left, #eee, #999);
}
/*header end*/

/*this is the main album part*/
.content{
    background-color: #eee;
    min-height:275px;
    display:flex;
}

.box{
    background: #fff;
    min-height: 275px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

/*album left part*/
.left{
    width:30%;
    border-right: none;
}
.album-list{
    margin: 5px 15px;
    box-sizing: border-box;
    border: #ccc solid 1px;
    border-radius: 5px;
}
.album{
    height: 30px;
    box-sizing: border-box;
}
.album-link{
    line-height: 30px;
    padding: 0 25px;
    color: #44a6ff;
    font-size: 15px;
}
.album>button{
    float: right;
    padding: 5px 5px;
    margin-right: 20px;
    margin-top: 3px;
    background-color: #fff;
    color: #ccc;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
    font-size: 10px;
}
.album>button:hover{
    background-color: #eee;
}
/*album left part end*/

.display{
    width: 70%;
}
.display>.button-grp{
    position: relative;
    margin: 5px 10px;
}
.button-grp input{
    padding: 5px 5px;
    /*margin: 0 15px;*/
    background-color: #44a6ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
}
.button-grp input:last-child{
    position:absolute;
    clip:rect(0 0 0 0);
}
.button-grp label{
    background-color: #45af3b;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 11px;
}
.photo-list{
    height: 250px;
    background-color: #eee;
}
.display nav ul{
    border: #ccc solid 1px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
}
.display nav li{
    display: inline-block;
    padding: 5px 5px;
    font-size: 13px;
    height: 25px;
    border-right: 1px solid #ccc;
}
.display nav li>a{
    color: #44a6ff;
    line-height: 25px;
}
.display nav li:last-child{
    border: none;
}


