*{
    font-family: 'Helvetica Neue', 'Heiti SC', sans-serif;
}

.container{
    width: 350px;
    height: 500px;
    padding: 20px;
    background: linear-gradient(to left, silver, #444);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.container>input{
    outline: none;
    width: 100%;
    margin: 5px;
    height: 30px;
    font-size: 20px;
}

.container>span{
    background: linear-gradient(to bottom, #aaaaaa, #888888);
    margin: 10px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #666666;
    border-radius: 15px;
}

.container > span:last-child{
    flex-grow: 1;
}