<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product</title>
    <!--<link rel="stylesheet" href="products-inline.css">-->
    <link rel="stylesheet" href="products_flex.css">
</head>
<body>

<section class="products">
<h1>products</h1>
    <div class="product">
        <h4>product name</h4>
        <img src="p.jpg" alt="">
        <p>description</p>
    </div>

    <div class="product">
        <h4>product name</h4>
        <img src="p.jpg" alt="">
        <p>description</p>
    </div>

    <div class="product">
        <h4>product name</h4>
        <img src="p.jpg" alt="">
        <p>description</p>
    </div>

    <div class="product">
        <h4>product name</h4>
        <img src="p.jpg" alt="">
        <p>description</p>
    </div>

    <div class="product">
        <h4>product name</h4>
        <img src="p.jpg" alt="">
        <p>description</p>
    </div>

    <div class="product">
        <h4>product name</h4>
        <img src="p.jpg" alt="">
        <p>description</p>
    </div>

    <div class="product">
        <h4>product name</h4>
        <img src="p.jpg" alt="">
        <p>description</p>
    </div>

    <div class="product">
        <h4>product name</h4>
        <img src="p.jpg" alt="">
        <p>description</p>
    </div>

    <div class="product">
        <h4>product name</h4>
        <img src="p.jpg" alt="">
        <p>description</p>
    </div>

    <!--<div class="clear-float"></div>-->

</section>

</body>
</html>